$logo-font: 'Amatic SC';
$font: 'Livvic', sans-serif;
$bold: 700;
$normal: 500;
$light: 300;

body {
	background: #222;
	font-family: $font;
}

.navbar-brand, .brand {
	font-family: $logo-font;
}

.navbar-brand {
	font-size: 3rem;
	line-height: 2.5rem;
	padding-top: 0;
}

.bg-navdark {
	background: #000;
}

.jumbotron {
	background: url('../img/ramen-home-bg.jpg') center;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.jumbotron h1 {
	font-family: $logo-font;
	font-size: 4rem;
	text-shadow: 0px 2px 5px rgba(0,0,0,.75);
}

.jumbotron h2 {
	font-family: $font;
	font-weight: $light;
	text-shadow: 0px 2px 5px rgba(0,0,0,.75);
}
